<div class="cnt-trad_l">
	<h3>Here I Go Again - Whitesnake - 1987 Version</h3>
	<p>
		<span>I don't know where I'm going</span>
        <br>
        <span>But I sure know where I've been</span>
        <br>
        <span>Hanging on the promises in songs of yesterday</span>
        <br>
        <span>And I've made up my mind</span>
        <br>
        <span>I ain't wasting no more time</span>
        <br>
    </p>
	<p>
		<span>Here I go again</span><br><span>Here I go again</span><br></p>
	<p>
		<span>Though I keep searching for an answer</span><br><span>I never seem to find what I'm looking for</span><br><span>Lord, I pray you give me strength to carry on</span><br><span>'Cause I know what it means</span><br><span>To walk along the lonely street of dreams</span><br></p>
	<p>
		<span>Here I go again on my own</span><br><span>Going down the only road I've ever known</span><br><span>Like a drifter, I was born to walk alone</span><br><span>But I've made up my mind</span><br><span>I ain't wasting no more time</span><br></p>
	<p>
		<span>I'm just another heart in need of rescue</span><br><span>Waiting on love's sweet charity</span><br><span>And I'm gonna hold on for the rest of my days</span><br><span>'Cause I know what it means</span><br><span>To walk along the lonely street of dreams</span><br></p>
	<p>
		<span>And here I go again on my own</span><br><span>Going down the only road I've ever known</span><br><span>Like a drifter, I was born to walk alone</span><br><span>And I've made up my mind</span><br><span>I ain't wasting no more time</span><br></p>
	<p>
		<span>But here I go again</span><br><span>Here I go again</span><br><span>Here I go again</span><br><span>Here I go</span><br></p>
	<p>
		<span>'Cause I know what it means</span><br><span>To walk along the lonely street of dreams</span><br></p>
	<p>
		<span>And here I go again on my own</span><br><span>Going down the only road I've ever known</span><br><span>Like a drifter, I was born to walk alone</span><br><span>And I've made up my mind</span><br><span>I ain't wasting no more time</span><br></p>
	<p style="margin-bottom: 0px;">
		<span>And here I go again on my own</span><br><span>Going down the only road I've ever known</span><br><span>Like a drifter, I was born to walk alone</span><br><span>'Cause I know what it means</span><br><span>To walk along the lonely street of dreams</span><br></p>
</div>
